="Hola #{@student.name}"

#statistics
  (
  Right answers:
  %span#rightAnswers
    0
  &nbsp;|&nbsp;
  Wrong answers:
  %span#wrongAnswers
    0
  )
%input{:type => "button", :value => "Skip operation", :id => "new"}
%input{:type => "button", :value => "Clear", :id => "clear"}
%hr
#operation
  #op1
  #op2
  #operator
  #result

%table#numbers
  %tr
    %td
      %input{:type => "button", :value => "7", :class => "number"}
    %td
      %input{:type => "button", :value => "8", :class => "number"}
    %td
      %input{:type => "button", :value => "9", :class => "number"}
  %tr
    %td
      %input{:type => "button", :value => "4", :class => "number"}
    %td
      %input{:type => "button", :value => "5", :class => "number"}
    %td
      %input{:type => "button", :value => "6", :class => "number"}
  %tr
    %td
      %input{:type => "button", :value => "1", :class => "number"}
    %td
      %input{:type => "button", :value => "2", :class => "number"}
    %td
      %input{:type => "button", :value => "3", :class => "number"}
  %tr
    %td
      &nbsp;
    %td
      %input{:type => "button", :value => "0", :class => "number"}
    %td
      &nbsp;