body {
  background-color: white; }

#numbers {
  width: 100%; }
  #numbers td {
    padding: 10px;
    margin: 0px; }
  #numbers input.number {
    width: 100%;
    font-size: 1.5em; }

#operation {
  position: relative;
  font-size: 3em;
  text-align: right;
  width: 100px;
  margin-left: auto;
  margin-right: auto; }
  #operation #op2 {
    border-bottom: solid 1px black; }
  #operation #operator {
    position: absolute;
    bottom: 75px;
    left: 10px; }
  #operation #result {
    height: 50px; }

#statistics {
  font-size: 0.8em;
  display: inline; }
